{{#each committee as |currentcommittee|}}
<h2> Committee ID: {{currentcommittee.committee_id}} </h2>
<h2> Committee Name: {{currentcommittee.name}} </h2>
<h2> Subcommittee: {{currentcommittee.subcommittee}} </h2>
{{/each}}
