{{#link-to 'index'}} Go Home {{/link-to}}

<center> <h1>Recent Bills: </h1> </center>

<ol>
  {{#each model as |bill|}}
  <li>{{#link-to 'bill' bill.bill_id}}{{bill.official_title}} {{/link-to}} </li>
  {{/each}}
</ol>
