{{#link-to 'index'}} GO Home {{/link-to}}

<ol>
  {{#each model as |committee|}}
  <li>{{#link-to 'committee' committee.committee_id}}{{committee.committee_id}} {{/link-to}} </li>
  <p> {{committee.name}} </p>
  {{/each}}
</ol>
